# TS-4500
DIO_00=0
DIO_01=1
DIO_02=2
DIO_03=3
DIO_04=4
DIO_05=5
DIO_06=6
DIO_07=7
DIO_08=8
DIO_09=9
DIO_10=10
DIO_11=11
DIO_12=12
DIO_13=13
DIO_14=14
DIO_15=15
DIO_16=16
DIO_17=17
DIO_18=18
DIO_19=19
DIO_20=20
DIO_21=21
DIO_22=22
DIO_23=23
DIO_24=24
DIO_25=25
DIO_26=26
DIO_27=27
DIO_28=28
DIO_29=29
DIO_30=30
DIO_31=31
DIO_32=32
DIO_33=33
DIO_34=34
DIO_35=35
DIO_36=36
DIO_37=37
DIO_38=38
DIO_39=39
DIO_40=40
DIO_41=41
DIO_42=42
DIO_43=43
DIO_44=44
DIO_45=45
DIO_46=46
DIO_47=47
DIO_48=48
DIO_49=49
DIO_50=50
DIO_51=51
DIO_52=52
GREEN_LED=54
RED_LED=55
ts.socket.ADRS0=55
ts.socket.ADRS1=54
ts.socket.ADRS2=25
ts.socket.IN=5
ts.socket.INLOOP=4
attrib.DIO.Count=88
attrib.Connector.Count=2
attrib.Connector.Name.CN1_=1
attrib.Connector.Name.CN2_=2
attrib.Connector.1.Pins=100
attrib.Connector.2.Pins=100
attrib.Connector.1.4=7
attrib.Connector.1.63=14
attrib.Connector.1.64=34
attrib.Connector.1.65=13
attrib.Connector.1.66=33
attrib.Connector.1.67=12
attrib.Connector.1.68=32
attrib.Connector.1.69=11
attrib.Connector.1.70=31
attrib.Connector.1.71=10
attrib.Connector.1.72=30
attrib.Connector.1.73=9
attrib.Connector.1.74=29
attrib.Connector.1.76=28
attrib.Connector.1.77=8
attrib.Connector.1.78=27
attrib.Connector.1.79=35
attrib.Connector.1.81=6
attrib.Connector.1.83=5
attrib.Connector.1.85=4
attrib.Connector.1.87=3
attrib.Connector.1.89=2
attrib.Connector.1.91=1
attrib.Connector.1.96=26
attrib.Connector.1.98=25
attrib.Connector.1.99=23
attrib.Connector.1.100=24
attrib.Connector.2.6=55
attrib.Connector.2.8=54
attrib.Connector.2.54=50
attrib.Connector.2.56=51
attrib.Connector.2.58=52
attrib.Connector.2.60=43
attrib.Connector.2.62=49
attrib.Connector.2.64=17
attrib.Connector.2.65=48
attrib.Connector.2.66=18
attrib.Connector.2.68=19
attrib.Connector.2.70=20
attrib.Connector.2.72=21
attrib.Connector.2.78=36
attrib.Connector.2.80=37
attrib.Connector.2.82=38
attrib.Connector.2.84=39
attrib.Connector.2.86=22
attrib.Connector.2.88=44
attrib.Connector.2.90=45
attrib.Connector.2.92=46
attrib.Connector.2.94=47
attrib.Connector.2.96=40
attrib.Connector.2.97=15
attrib.Connector.2.98=41
attrib.Connector.2.99=16
attrib.Connector.2.100=42
