GREEN_LED=71
RED_LED=70
attrib.DIO.Count=70
attrib.Connector.Count=2
attrib.Connector.Name.CN1_=1
attrib.Connector.Name.CN2_=2
attrib.Connector.1.Pins=100
attrib.Connector.2.Pins=100

attrib.Connector.2.6=70
attrib.Connector.2.8=71

attrib.Connector.1.93=0
attrib.Connector.1.91=1
attrib.Connector.1.89=2
attrib.Connector.1.87=3
attrib.Connector.1.85=4
attrib.Connector.1.83=5
attrib.Connector.1.81=6
attrib.Connector.1.79=7
attrib.Connector.1.77=8
attrib.Connector.1.73=9
attrib.Connector.1.71=10
attrib.Connector.1.69=11
attrib.Connector.1.67=12
attrib.Connector.1.65=13
attrib.Connector.1.63=14
attrib.Connector.2.97=15
attrib.Connector.2.99=16
attrib.Connector.1.97=17
attrib.Connector.1.99=18
attrib.Connector.1.100=19
attrib.Connector.1.98=20
attrib.Connector.1.96=21
attrib.Connector.1.94=22
attrib.Connector.1.92=23
attrib.Connector.1.90=24
attrib.Connector.1.88=25
attrib.Connector.1.86=26
attrib.Connector.1.84=27
attrib.Connector.1.82=28
attrib.Connector.1.80=29
attrib.Connector.1.78=30
attrib.Connector.1.76=31
attrib.Connector.1.74=32
attrib.Connector.1.72=33
attrib.Connector.1.70=34
attrib.Connector.1.68=35
attrib.Connector.1.66=36
attrib.Connector.1.64=37
attrib.Connector.2.72=38
attrib.Connector.2.70=39
attrib.Connector.2.68=40
attrib.Connector.2.66=41
attrib.Connector.2.64=42
attrib.Connector.2.62=43
attrib.Connector.2.60=44
attrib.Connector.2.58=45
attrib.Connector.2.56=46
attrib.Connector.2.52=47
attrib.Connector.2.32=48
attrib.Connector.1.61=49
attrib.Connector.1.59=50
attrib.Connector.1.60=51
attrib.Connector.1.58=52
attrib.Connector.2.78=53
attrib.Connector.2.80=54
attrib.Connector.2.82=55
attrib.Connector.2.84=56
attrib.Connector.2.86=57
attrib.Connector.2.88=58
attrib.Connector.2.90=59
attrib.Connector.2.92=60
attrib.Connector.2.94=61
attrib.Connector.2.96=62
attrib.Connector.2.98=63
attrib.Connector.2.100=64
attrib.Connector.2.67=65
attrib.Connector.2.71=66
attrib.Connector.2.69=67
attrib.Connector.2.65=68
attrib.Connector.1.4=69
