# TS-4700
DIO_0=0
DIO_1=1
DIO_2=2
DIO_3=3
DIO_4=4
DIO_5=5
DIO_6=6
DIO_7=7
DIO_8=8
DIO_9=9
DIO_10=10
DIO_11=11
DIO_12=12
DIO_13=13
DIO_14=14
DIO_15=15
DIO_16=16

SPI_FRM=17
SPI_MOSI=18
SPI_MISO=19
SPI_CLK=20

UART0_TXD=48
UART0_RXD=49
UART1_TXD=50
UART1_RXD=51
UART2_TXD=52
UART2_RXD=53
UART3_TXD=54
UART3_RXD=55
UART4_TXD=56
UART4_RXD=57
UART5_TXD=58
UART5_RXD=59

GREEN_LED=60
RED_LED=61

MUX_AD00=35
MUX_AD01=36
MUX_AD02=37
MUX_AD03=38
MUX_AD04=39
MUX_AD05=40
MUX_AD06=41
MUX_AD07=42
MUX_AD08=27
MUX_AD09=28
MUX_AD10=29
MUX_AD11=30
MUX_AD12=31
MUX_AD13=32
MUX_AD14=33
MUX_AD15=34
BUS_BHEN=23
BUS_WAIT=22
BUS_DIR=25
BUS_CS=24
BUS_ALE=26

CAM_D7=99
CAM_D6=100
CAM_D5=101
CAM_D2=104
CAM_D1=106
CAM_D0=107
CAM_VSYNC=108
CAM_HSYNC=110
CAM_MCLK=116

MFP_43=105
MFP_49=111
MFP_51=113
MFP_52=114
MFP_104=166
MFP_105=167
MFP_106=168
MFP_122=184


attrib.DIO.Count=190
attrib.Connector.Count=2
attrib.Connector.Name.CN1_=1
attrib.Connector.Name.CN2_=2
attrib.Connector.1.Pins=100
attrib.Connector.2.Pins=100

# 62 to 189 = MarvellPXA166
# MFP @ CN2_
attrib.Connector.2.10=167
attrib.Connector.2.12=168
attrib.Connector.2.14=184
attrib.Connector.2.89=114
attrib.Connector.2.91=105
attrib.Connector.2.26=111
attrib.Connector.2.32=166
attrib.Connector.2.34=175
attrib.Connector.2.36=177
attrib.Connector.2.38=176
attrib.Connector.2.40=178
attrib.Connector.2.42=179
attrib.Connector.2.54=113

attrib.Connector.2.56=116
attrib.Connector.2.58=107
attrib.Connector.2.60=106
attrib.Connector.2.62=104
attrib.Connector.2.64=101
attrib.Connector.2.66=100
attrib.Connector.2.68=99
attrib.Connector.2.70=110
attrib.Connector.2.72=108

attrib.Connector.1.93=0
attrib.Connector.1.91=1
attrib.Connector.1.89=2
attrib.Connector.1.87=3
attrib.Connector.1.85=4
attrib.Connector.1.83=5
attrib.Connector.1.81=6
attrib.Connector.1.79=7
attrib.Connector.1.77=8

attrib.Connector.1.73=9
attrib.Connector.1.71=10
attrib.Connector.1.69=11
attrib.Connector.1.67=12
attrib.Connector.1.65=13
attrib.Connector.1.63=14

attrib.Connector.2.97=15
attrib.Connector.2.99=16

# SPI
attrib.Connector.2.65=17
attrib.Connector.2.67=18
attrib.Connector.2.69=19
attrib.Connector.2.71=20

# bus control signals
attrib.Connector.1.97=22
attrib.Connector.1.99=23
attrib.Connector.1.100=24
attrib.Connector.1.98=25
attrib.Connector.1.96=26

# AD bus 8 to 15
attrib.Connector.1.78=27
attrib.Connector.1.76=28
attrib.Connector.1.74=29
attrib.Connector.1.72=30
attrib.Connector.1.70=31
attrib.Connector.1.68=32
attrib.Connector.1.66=33
attrib.Connector.1.64=34

# AD bus 0 to 7
attrib.Connector.1.94=35
attrib.Connector.1.92=36
attrib.Connector.1.90=37
attrib.Connector.1.88=38
attrib.Connector.1.86=39
attrib.Connector.1.84=40
attrib.Connector.1.82=41
attrib.Connector.1.80=42

# UARTS
attrib.Connector.2.78=48
attrib.Connector.2.80=49
attrib.Connector.2.82=50
attrib.Connector.2.84=51
attrib.Connector.2.86=52
attrib.Connector.2.88=53
attrib.Connector.2.90=54
attrib.Connector.2.92=55
attrib.Connector.2.94=56
attrib.Connector.2.96=57
attrib.Connector.2.98=58
attrib.Connector.2.100=59

# LEDs
attrib.Connector.2.6=61
attrib.Connector.2.8=60
