# TS-4800
DIO_00=0
DIO_01=1
DIO_02=2
DIO_03=3
DIO_04=4
DIO_05=5
DIO_06=6
DIO_07=7
DIO_08=8
DIO_09=9
DIO_10=10
DIO_11=11
DIO_12=12
DIO_13=13
DIO_14=14


DIO_17=17
DIO_18=18
DIO_19=19
DIO_20=20
MUX_AD00=21
MUX_AD01=22
MUX_AD02=23
MUX_AD03=24
MUX_AD04=25
MUX_AD05=26
MUX_AD06=27
MUX_AD07=28
MUX_AD08=29
MUX_AD09=30
MUX_AD10=31
MUX_AD11=32
MUX_AD12=33
MUX_AD13=34
MUX_AD14=35
MUX_AD15=36
BUS_ALE=37
BUS_DIR=38
BUS_CS=39
BUS_BHEN=40
BUS_WAIT=41
SPI_MISO=42
SPI_CLK=43
SPI_CS=44
SPI_MOSI=45
CAN_RX=46
CAN_TX=47
UART0_RXD=48
UART0_TXD=49
UART3_RXD=50
UART3_TXD=51
UART4_RXD=52
UART4_TXD=53
UART5_RXD=54
UART5_TXD=55

GREEN_LED=64
RED_LED=65


attrib.DIO.Count=130
attrib.Connector.Count=2
attrib.Connector.Name.CN1_=1
attrib.Connector.Name.CN2_=2
attrib.Connector.1.Pins=100
attrib.Connector.2.Pins=100
attrib.Connector.1.93=0
attrib.Connector.1.91=1
attrib.Connector.1.89=2
attrib.Connector.1.87=3
attrib.Connector.1.85=4
attrib.Connector.1.83=5
attrib.Connector.1.81=6
attrib.Connector.1.79=7
attrib.Connector.1.77=8
attrib.Connector.1.73=9
attrib.Connector.1.71=10
attrib.Connector.1.69=11
attrib.Connector.1.67=12
attrib.Connector.1.65=13
attrib.Connector.1.63=14

attrib.Connector.2.70=17
attrib.Connector.2.64=18
attrib.Connector.2.62=19
attrib.Connector.2.54=20
attrib.Connector.1.94=21
attrib.Connector.1.92=22
attrib.Connector.1.90=23
attrib.Connector.1.88=24
attrib.Connector.1.86=25
attrib.Connector.1.84=26
attrib.Connector.1.82=27
attrib.Connector.1.80=28
attrib.Connector.1.78=29
attrib.Connector.1.76=30
attrib.Connector.1.74=31
attrib.Connector.1.72=32
attrib.Connector.1.70=33
attrib.Connector.1.68=34
attrib.Connector.1.66=35
attrib.Connector.1.64=36
attrib.Connector.1.96=37
attrib.Connector.1.98=38
attrib.Connector.1.100=39
attrib.Connector.1.99=40
attrib.Connector.1.97=41

attrib.Connector.2.69=42
attrib.Connector.2.71=43
attrib.Connector.2.65=44
attrib.Connector.2.67=45
attrib.Connector.2.99=46
attrib.Connector.2.97=47

attrib.Connector.2.80=48
attrib.Connector.2.78=49
attrib.Connector.2.92=50
attrib.Connector.2.90=51
attrib.Connector.2.96=52
attrib.Connector.2.94=53
attrib.Connector.2.100=54
attrib.Connector.2.98=55
attrib.Connector.2.8=64
attrib.Connector.2.6=65

# + 66
GPIO1_3=69
GPIO1_5=71
GPIO1_6=72
GPIO1_7=73
attrib.Connector.2.58=69
attrib.Connector.2.60=71
attrib.Connector.2.72=72
attrib.Connector.2.56=73

# + 66 + 16 + 16 + 16 = +114
GPIO4_13=127
GPIO4_14=128
attrib.Connector.2.66=127
attrib.Connector.2.68=128
