LCD_D07=39
DC_DIO_4=39
LCD_D08=40
DC_DIO_5=40
LCD_D09=41
DC_DIO_6=41
LCD_D10=42
DC_DIO_7=42
LCD_D11=43
DC_DIO_8=43
LCD_D12=44
DC_DIO_9=44
attrib.DIO.Count=160
attrib.Connector.Count=2
attrib.Connector.Name.HD1_=1
attrib.Connector.Name.HD2_=2
attrib.Connector.1.Pins=16
attrib.Connector.2.Pins=8

attrib.Connector.1.1=42
attrib.Connector.1.7=41
attrib.Connector.1.9=40
attrib.Connector.1.14=39

attrib.Connector.2.4=43
attrib.Connector.2.6=44


