# TS-81X0
8160_LCD_D0=16
8160_LCD_D1=17
8160_LCD_D2=18
8160_LCD_D3=19
8160_LCD_D4=20
8160_LCD_D5=21
8160_LCD_D6=22
8160_LCD_D7=23
8160_DIO_A16=8
8160_DIO_A17=9
8160_DIO_A18=10
8160_DIO_A19=11
8160_DIO_A20=12
8160_DIO_A21=13
8160_DIO_B11=14
8160_DIO_B12=15

attrib.DIO.Count=32
attrib.Connector.Count=4
attrib.Connector.Name.8160_DIO_=1
attrib.Connector.Name.8160_LCD_=2
attrib.Connector.Name.8160_PC104_A=3
attrib.Connector.Name.8160_PC104_B=4
attrib.Connector.1.Pins=16
attrib.Connector.2.Pins=14
attrib.Connector.3.Pins=40
attrib.Connector.4.Pins=40
attrib.Connector.1.1=0
attrib.Connector.1.3=1
attrib.Connector.1.5=2
attrib.Connector.1.7=3
attrib.Connector.1.9=4
attrib.Connector.1.11=5
attrib.Connector.1.13=6
attrib.Connector.1.15=7
attrib.Connector.3.16=8
attrib.Connector.3.17=9
attrib.Connector.3.18=10
attrib.Connector.3.19=11
attrib.Connector.3.20=12
attrib.Connector.3.21=13
attrib.Connector.4.11=14
attrib.Connector.4.12=15
attrib.Connector.2.8=16
attrib.Connector.2.7=17
attrib.Connector.2.10=18
attrib.Connector.2.9=19
attrib.Connector.2.12=20
attrib.Connector.2.11=21
attrib.Connector.2.14=22
attrib.Connector.2.13=23
attrib.Connector.2.6=24
attrib.Connector.2.3=25
attrib.Connector.2.5=26
# TS-8160 loopbacks
attrib.8160.Wire.MaxConnections=2
attrib.8160.Wire.Count=14
attrib.8160.Wire.Connector.1.0=3
attrib.8160.Wire.Pin.1.0=1
attrib.8160.Wire.Connector.1.1=3
attrib.8160.Wire.Pin.1.1=3
attrib.8160.Wire.Connector.2.0=3
attrib.8160.Wire.Pin.2.0=5
attrib.8160.Wire.Connector.2.1=3
attrib.8160.Wire.Pin.2.1=7
attrib.8160.Wire.Connector.3.0=3
attrib.8160.Wire.Pin.3.0=9
attrib.8160.Wire.Connector.3.1=3
attrib.8160.Wire.Pin.3.1=11
attrib.8160.Wire.Connector.4.0=3
attrib.8160.Wire.Pin.4.0=13
attrib.8160.Wire.Connector.4.1=3
attrib.8160.Wire.Pin.4.1=15
attrib.8160.Wire.Connector.5.0=4
attrib.8160.Wire.Pin.5.0=3
attrib.8160.Wire.Connector.5.1=4
attrib.8160.Wire.Pin.5.1=5
attrib.8160.Wire.Connector.6.0=4
attrib.8160.Wire.Pin.6.0=7
attrib.8160.Wire.Connector.6.1=4
attrib.8160.Wire.Pin.6.1=9
attrib.8160.Wire.Connector.7.0=4
attrib.8160.Wire.Pin.7.0=11
attrib.8160.Wire.Connector.7.1=4
attrib.8160.Wire.Pin.7.1=13
attrib.8160.Wire.Connector.8.0=4
attrib.8160.Wire.Pin.8.0=8
attrib.8160.Wire.Connector.8.1=4
attrib.8160.Wire.Pin.8.1=10
attrib.8160.Wire.Connector.9.0=4
attrib.8160.Wire.Pin.9.0=12
attrib.8160.Wire.Connector.9.1=4
attrib.8160.Wire.Pin.9.1=14
attrib.8160.Wire.Connector.10.0=5
attrib.8160.Wire.Pin.10.0=16
attrib.8160.Wire.Connector.10.1=5
attrib.8160.Wire.Pin.10.1=17
attrib.8160.Wire.Connector.11.0=5
attrib.8160.Wire.Pin.11.0=18
attrib.8160.Wire.Connector.11.1=5
attrib.8160.Wire.Pin.11.1=19
attrib.8160.Wire.Connector.12.0=5
attrib.8160.Wire.Pin.12.0=20
attrib.8160.Wire.Connector.12.1=5
attrib.8160.Wire.Pin.12.1=21
attrib.8160.Wire.Connector.13.0=6
attrib.8160.Wire.Pin.13.0=11
attrib.8160.Wire.Connector.13.1=6
attrib.8160.Wire.Pin.13.1=12
