# TO DO: fix it so we can use these. as it is, base board config files
# are assumed to be relative to their starting DIO number
#RELAY1=8
#RELAY2=7
#RELAY3=6
#RELAY4=4
8820_IN1=0
8820_IN2=1
8820_IN3=2
8820_IN4=3
8820_IN5=4
8820_IN6=5
8820_IN7=6
8820_IN8=7
8820_IN9=8
8820_IN10=9
8820_IN11=10
8820_IN12=11
8820_IN13=12
8820_IN14=13
8820_OUT1=14
8820_OUT2=15
8820_OUT3=16
8820_OUT4=17
8820_OUT5=18
8820_OUT6=19
8820_HB1=20
8820_HB2=21
8820_LED1=RED_LED
8820_LED4=GREEN_LED
#LED5=RELAY1
#LED6=RELAY2
#LED7=RELAY3
#LED8=RELAY4
8820_LED9=0
8820_LED10=1
8820_LED11=2
8820_LED12=3
8820_LED13=4
8820_LED14=5
8820_LED15=6
8820_LED16=7
8820_LED17=14
8820_LED18=15
8820_LED19=16
8820_LED20=17
8820_LED21=8
8820_LED22=9
8820_LED23=10
8820_LED24=11
8820_LED25=12
8820_LED26=13
8820_LED27=18
8820_LED28=19

attrib.Connector.Count=10
attrib.Connector.Name.8820_P1_=1
attrib.Connector.Name.8820_P2_=2
attrib.Connector.Name.8820_P3_=3
attrib.Connector.Name.8820_P4_=4
attrib.Connector.Name.8820_P5_=5
attrib.Connector.Name.8820_P6_=6
attrib.Connector.Name.8820_P7_=7
attrib.Connector.Name.8820_P8_=8
attrib.Connector.Name.8820_P9_=9
attrib.Connector.Name.8820_P10_=10

attrib.Connector.1.Pins=12
attrib.Connector.2.Pins=12
attrib.Connector.3.Pins=12
attrib.Connector.4.Pins=12
attrib.Connector.5.Pins=12
attrib.Connector.6.Pins=12
attrib.Connector.7.Pins=12
attrib.Connector.8.Pins=12
attrib.Connector.9.Pins=12
attrib.Connector.10.Pins=12

attrib.Connector.1.1=0
attrib.Connector.1.3=1
attrib.Connector.1.5=2
attrib.Connector.1.7=3
attrib.Connector.1.9=4
attrib.Connector.1.11=5

attrib.Connector.2.1=8
attrib.Connector.2.2=9
attrib.Connector.2.4=10
attrib.Connector.2.5=11
attrib.Connector.2.7=12
attrib.Connector.2.8=13
attrib.Connector.2.10=18
attrib.Connector.2.11=19

attrib.Connector.6.1=20
attrib.Connector.6.3=21

attrib.Connector.7.1=6
attrib.Connector.7.3=7
attrib.Connector.7.5=14
attrib.Connector.7.7=15
attrib.Connector.7.9=16
attrib.Connector.7.11=17

#attrib.Connector.8.1=RELAY1
#attrib.Connector.8.4=RELAY2
#attrib.Connector.8.7=RELAY3
#attrib.Connector.8.10=RELAY4
