# TS-DIO24
attrib.DIO.Count=24
attrib.DIO.Instances=4

attrib.Connector.Count=3
attrib.Connector.Name.DIO24_PORTA_=1
attrib.Connector.Name.DIO24_PORTB_=2
attrib.Connector.Name.DIO24_PORTC_=3
attrib.Connector.1.Pins=8
attrib.Connector.2.Pins=8
attrib.Connector.3.Pins=8

attrib.Connector.1.1=0
attrib.Connector.1.2=1
attrib.Connector.1.3=2
attrib.Connector.1.4=3
attrib.Connector.1.5=4
attrib.Connector.1.6=5
attrib.Connector.1.7=6
attrib.Connector.1.8=7

attrib.Connector.2.1=8
attrib.Connector.2.2=9
attrib.Connector.2.3=10
attrib.Connector.2.4=11
attrib.Connector.2.5=12
attrib.Connector.2.6=13
attrib.Connector.2.7=14
attrib.Connector.2.8=15

attrib.Connector.3.1=16
attrib.Connector.3.2=17
attrib.Connector.3.3=18
attrib.Connector.3.4=19
attrib.Connector.3.5=20
attrib.Connector.3.6=21
attrib.Connector.3.7=22
attrib.Connector.3.8=23
